@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

body {
    text-align: center;
    background-image: url(bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}

img {
    height: 200px;
    text-align: left;
}

.heading {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.subheading {
    font-size: 40px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.p1 {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
}

.p2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.p3 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}